/* 
    Article component
*/

.container {
    margin: 1.5rem;
    border-radius: var(--border-radius-size);
    background-color: #fff;
    box-shadow: 0px 30px 20px 0px rgba(20,40,255,0.1);
}

/* 
    Header
*/

.header-img {
    height:12.5rem;
    background-image: url("../images/drawers.jpg");
    border-top-left-radius: var(--border-radius-size);
    border-top-right-radius: var(--border-radius-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 0 top -1rem;
}

/* body (Article title and description) */

.body {
    padding: 2rem 2rem 1rem;
}

.body__title {
    font-size: 1.02825rem;
    font-weight: bold;
    color:var(--dark-grayish-blue);
    margin-bottom: 0.75rem;
    padding-top: 0.25rem;
}

.body__desc {
    font-size: 0.83rem;
    font-weight: 500;
    color: var(--desaturated-blue);
}

/* 
    Article footer
*/

.footer {
    display: flex;
    padding:1.1rem 2rem;
    border-bottom-left-radius: var(--border-radius-size);
    border-bottom-right-radius: var(--border-radius-size);
    transition: all 0.5s ease;
}

.author {
    display: flex;
    column-gap: 1rem;
    flex-grow: 1;
    min-height: 2.5rem;
}

.author__avatar {
    width: 2.45rem;
    height: 2.45rem;
    border-radius: 100%;
}

.author__info {
    display: flex;
    flex-direction: column;
}

.author__name {
    font-size: 0.825rem;
    font-weight: bold;
    color:var(--dark-grayish-blue);
}

.author__date {
    font-size: 0.825rem;
    color:var(--desaturated-blue);
}

.sharing-icons {
    display: none;
    min-height: 2.5rem;
}

.sharing-icons__title {
    font-size: 0.88rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--desaturated-blue);
}

.sharing-icons svg {
    color: var(--light-grayish-blue);
}

.footer__action button{
    background-color: var(--light-grayish-blue);
    padding: 0.5rem;
    margin-top:0.25rem;
    border-radius: 100%;
    transition: all 0.5s ease;

    /* make button squre*/
    box-sizing: content-box;
    width: 0.8rem;
    height: 0.8rem;
}

.footer__action button > svg {
    color: var(--desaturated-blue);
}


/*
 active states on action click
 this style is used in mobile
*/

.footer.active {
    background-color:var(--dark-grayish-blue);
}
.footer.active .footer__action button{
    background-color: var(--desaturated-blue);
}
.footer.active .footer__action button > svg {
    color:var(--light-grayish-blue);
}

.footer.active .sharing-icons {
    display: flex;
    align-items: center;
    column-gap: 1.1rem;
    flex-grow: 1;
}

.inactive-in-mobile {
    display: none;
}


/* 
    Responsive design
*/

@media (max-width: 23em) {
    .container {
        margin: 0.25rem;
    }
}

@media (min-width:40em) { /* 640px */
    .container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .header-img {
        width: 17.825rem;
        height: 100%;
        background-position: left top;
        border-radius: 0;
        border-top-left-radius: var(--border-radius-size);
        border-bottom-left-radius: var(--border-radius-size);
    }

    .right-section {
        max-width: 27.75rem;
    }

    .body {
        padding: 2rem 2.5rem 1rem;
    }

    .body__title {
        font-size: 1.28rem;
        line-height: 1.75rem;
        padding-top:0;
    }

    .body__desc {
        padding-top:0.125rem; 
    }
    
    .footer {
        padding:0.3rem 2.5rem 1.9rem;
        border-bottom-left-radius: 0;
        position:relative;
    }

    .footer__action button{
        padding: 0.55rem;
        width: 0.9rem;
        height: 0.9rem;
    }

    .footer__action button > svg {
        width:0.85rem;
        height: 0.8rem;
    }

    /* action hover */
    .footer__action button:hover{
        background-color: var(--desaturated-blue);
    }
    .footer__action button:hover > svg {
        color:var(--light-grayish-blue);
    }

    
    /* 
        active states on action click
        this style is used on tablet and bigger screens  
    */

    .footer.active {
        background-color:transparent;
    }

    .footer.active .sharing-icons {
        position:absolute;
        right: 1rem;
        top: -100%;
        background-color: var(--dark-grayish-blue);
        padding: 1rem 2.25rem;
        border-radius: var(--border-radius-size);
        animation: fadeIn 1s;
    }

    .footer.active .sharing-icons::after {
        content: "";
        border:0.75rem solid transparent;
        border-top-color: var(--dark-grayish-blue);
        position: absolute;
        bottom: -1.5rem;
        right: 11%;
    }

    .inactive-in-mobile {
        display: flex;
    }

}

@media (min-width:90em) { /* 1440px */
    .footer.active .sharing-icons {
        right: -4.25rem;
    }

    .footer.active .sharing-icons::after {
        right: 45%;
    }
}

/* animations */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
