:root {
  /* colors */
  --light-grayish-blue: #ecf2f8; /* body background */
  --dark-grayish-blue: #48556a; /* Article title */
  --desaturated-blue: #6d7f97; /* Article description */
  --grayish-blue: #9eafc2;

  /* borders */
  --border-radius-size: 0.75rem;
}


body {
  background-color: var(--light-grayish-blue, #ecf2f8);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}